<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Note Management System</title>
	<script src="lib/react.js"></script>
	<script src="lib/react-dom.js"></script>
	<script src="lib/browser.min.js"></script>
	<script src="lib/jquery-3.2.1.min.js"></script>
	<script src="lib/babel.min.js"></script>
	<link rel="stylesheet" href="css/layout.css">
</head>
<body>
	<div id = "root"></div>
	<script type="text/babel" src="js/xuly.js">
	</script>
</body>
</html>
<html></html>